In [1]:
#Question_1
 #Create a variable x with the value 15.
 #Perform floored division by 4 and print the result. 
 #What is the difference between floored division and normal division?

In [4]:
x = 15
y = 4

result = x // y
print(result)

3

In [5]:
#Question_2
 #Write a program to calculate 8 ** 2 and  16 ** 0.5 . Print both results and  describe what each represents.

In [6]:
a = 8 ** 2
b = 16 ** 0.5
print(a)
print(b)

64
4.0

In [7]:
#Question_3
 #Use arithmetic operators to solve the following expression: 20 - 5 * 3 + 8 / 4 . 
 #Use parentheses to make sure the addition happens before multiplication. Print the output.

In [10]:
result = 20 - (5 * (3 + 8) / 4)
print(result)

6.25

In [11]:
#Question_4
 #Assign the value 7 to a variable num . Convert it to a float and print the result.
 #What is the difference between  7 and 7.0

In [14]:
num = 7
print(num)
print(float(num))

#Difference
# 7 is am integer and 7.0 is float

7
7.0

In [15]:
#Question_5
 #Use a comparison operator to check if 100 is greater than 50.
 #Print the result and indicate what type of value this is.

In [16]:
A = 100
B = 50
result = A>B
print(result)
print(type(result))

True
<class 'bool'>

In [17]:
#Question_6
 #Assign True to a variable is_sunny and False to is_weekend . 
 #Use logical operators to check if it is sunny and the weekend ( is_sunny and is_weekend ). 
 #Print the result

In [18]:
is_sunny = True
is_weekend = False 

result = is_sunny and is_weekend

print(result)

False

In [19]:
#Question_7
 #Create a variable password and set it to "my_password123" . 
 #Ask the user to input a password and print True if the input matches the value of password , otherwise print False .

In [20]:
    password = "my_password123"
    
    P = input("ENTER YOUR PASSWORD")
    
    if P == password:
        print(True)
    else:    
        print(False)

ENTER YOUR PASSWORD 12

False

In [1]:
#Question_8
#Assign the value using the 50 to a variable marks .
#Increment the value of marks by 5 using the += operator, then print the new value.

In [2]:
marks = 50

marks += 5

print(marks)

55

In [3]:
#Question_9
 #Write a program to check if the value of a = 0 and b = 10 satisfies a or b .
 #Print the output and explain why it gives that result.

In [7]:
a = 0 
b = 10

if a or b:
    print("Atleast one of the given values are true ",a ,"or", b)
else:
    print("Neither a nor b is true")

Atleast one of the given values are true  0 or 10

In [8]:
#Question_10
 #Use not to negate the value of  False and print the result. 
 #Explain what the not operator does in Python.

In [9]:
result = not False

print(result)

True